<launch>
	<node pkg="joy" type="joy_node" name="$(anon joy_node)" >
		<param name="dev" value="/dev/input/by-id/usb-Logitech_Logitech_Cordless_RumblePad_2-joystick" />
		<param name="autorepeat_rate" value="10.0" />
	</node>
	<node pkg="nifti_teleop" type="nifti_teleop_joy.py"
		name="$(anon remote_teleop_joy)" output="screen" />
</launch>
