<launch>
  <param name="/use_sim_time" value="true"/>
  
  <arg name="bag" default="$(find nifti_vision_data)/20121107_dortmund_training_site/ugv_2012-11-07-14-56-04.bag"/>
  <!--
  <arg name="bag" default="$(find nifti_vision_data)/20120606_prague_rail/2012-06-06-11-13-19.bag"/>
  <arg name="bag" default="$(find nifti_vision_data)/20121107_dortmund_training_site/ugv_2012-11-07-14-56-04.bag"/>
  -->
  <node name="rosbag_play" pkg="rosbag" type="play" args="--clock -d 5 -s 0 -r 1 $(arg bag)" respawn="false" output="screen"/>
  
  <include file="$(find omnicamera)/launch/omnicamera_proc_compressed.launch"/>
  <include file="$(find point_cloud_color)/launch/nifti_point_cloud_color.launch"/>
  
  <node pkg="rviz" type="rviz" output="screen" name="$(anon rviz)" args="-d $(find point_cloud_color)/res/rviz/point_cloud_color_demo.vcg"/>
  <param name="robot_description" command="cat $(find ocu)/media/robot_model/NIFTi.urdf"/>
  
</launch>
