<launch>
  
  <node pkg="nodelet" type="nodelet" name="image_proc_debayer" args="load image_proc/debayer omnicamera_nodelet_manager">
    <remap from="image_raw"   to="omnicam/image_raw" />
    <remap from="image_color" to="omnicam/image" />
    <remap from="image_mono"  to="omnicam/image_mono" />
    
    <param name="debayer" value="0" />
  </node>
  
</launch>
