<!-- Launches the robot drivers -->
<!-- This does not launch the whole system, but only the drivers. I.e. there will be no map, which is required by the OCU. If you want to use the OCU, you must also launch mapping -->

<launch>

	<!-- Launches the basic drivers from ETH -->
	<include file="$(find nifti_drivers_launchers)/launch/ugv.launch"/>

	<!-- Launches the network signal monitoring -->
	<include file="$(find monitoring)/launch/monitoring.launch"/>

</launch>
