<launch>
	<rosparam command="load" file="$(find nifti_launchers)/launch/robot.yaml"/>

	<node type="nifti_laser_assembler" pkg="nifti_laser_assembler"
			name="nifti_laser_assembler" output="screen">
		<param name="publish_in_motion" value="false"/>
		<param name="using_gmapping" value="false" />
		<remap from="/scan" to="/scan_filtered" />
	</node>
</launch>
